<div *ngIf="(productsState$ | async)?.data as products">
  <a [routerLink]="'/cart'">Go to Cart</a>

  <mat-form-field appearance="fill" style="background-color: lightblue">
    <mat-label>Order By</mat-label>
    <mat-select [(ngModel)]="orderProperty">
      <mat-option *ngFor="let property of orderList" [value]="property">
        {{ property }}
      </mat-option>
    </mat-select>
    <section class="example-section"></section>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="orderingAsc" style="background-color: lightblue"
    >Ascending</mat-checkbox
  >

  <shp-product
    *ngFor="
      let item of products | orderBy: [orderProperty]:orderingAsc
    "
    [product]="item"
    (buyProduct)="onAddToCart(item)"
    class="product"
  ></shp-product>
</div>
