<div *ngIf="!!cartItemsList && cartItemsList.length; else emptyCart">
  <shp-cart-item
    *ngFor="let item of cartItemsList; trackBy: identify"
    [cart]="item"
    (setAmount)="setCartItemAmount($event)"
    (remove)="removeCartItem($event)"
    (wheel)="changeCartAmount($event, item)"
  >
  </shp-cart-item>
  <div class="total-price">
    <div class="title">Total price:</div>
    <div class="value">{{ getTotalPrice() | currency }}</div>
  </div>
</div>

<ng-template #emptyCart>Your cart is empty</ng-template>
