<div *ngIf="!cartService.isEmptyCart(); else emptyCart">
  <shp-cart-item
    *ngFor="
      let item of cartItemsList | orderBy: ['amount', 'added']:false;
      trackBy: identify
    "
    [cart]="item"
    (decreaseAmount)="decreaseCartItemAmount(item.product.id)"
    (increaseAmount)="increaseCartItemAmount(item.product.id)"
    (remove)="removeCartItem($event)"
    (wheel)="changeCartAmount($event, item)"
    shpNoScroll
  >
  </shp-cart-item>
  <div class="total-price">
    <div class="title">Total price:</div>
    <div class="value">{{ cartService.totalSum | currency }}</div>
  </div>
</div>

<ng-template #emptyCart>Your cart is empty</ng-template>
